/* start home  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #222;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background: white;
  min-width: 763px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.logo img {
  width: 10rem;
  border: none;
}

nav {
  /* position: fixed; */
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  /* position: fixed;
z-index: 1000; */
}

nav ul li a {
  text-decoration: none;
  color: #02befd;
  font-size: 16px;
  color: black;
}

nav ul li a.active,
nav ul li a:hover {
  /* font-weight: bold; */
  border-bottom: 2px solid black;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #009df4;
  background-color: white;
  color: black;
  transition: 0.3s;
}

.auth-buttons .login {
  background-color: #009df4;
  color: white;
}

.auth-buttons .login:hover,
.auth-buttons .signup:hover {
  opacity: 0.8;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5%;
  position: relative;
}

.hero-text {
  max-width: 50%;
  z-index: 10;
  display: flex;
  /* top: 40%; */
  /* right: 68%; */
  margin-left: 96px;
  position: absolute;
  flex-direction: column;
}

.subtitle {
  color: #505e6b;
  margin-bottom: 16px;
}

.hero h1 {
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 20px;
  color: #103346;
  font-family: system-ui;
}

.cta {
  padding: 12px 20px;
  background-color: #0099ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.cta:hover {
  background-color: #007bff;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 70vh;
  border-radius: 40px;
  /* overflow: hidden; */
  min-width: 763px;
}

.hero-image .background {
  width: 100%;
  border-radius: 30px;
  height: 500px;
}

.hero-image .plane {
  position: absolute;
  width: 995.43px;
  /* left: 62%; */
  margin: 0% 0% 0% 51%;
}

/* end home  */
/* start card  */

main {
  text-align: left;
  /* max-width: 1200px; */
  width: 100%;
}

h2 {
  color: #006399;
  font-size: 36px;
  font-family: Inknut Antiqua;
  margin-bottom: 15px;
}

.subtitle {
  color: #c0c0c0;
  font-size: 24px;
  margin-bottom: 30px;
  font-family: Inria sans-serif;
}

.cards-container {
  display: flex;
  margin-left: -8%;
  width: 119%;
  justify-content: space-around;
  margin-bottom: 6%;
}

/* .card {
  width: 220px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
  
} */

.card {
  width: 452px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  height: 452px;
}

.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  padding: 6%;
  border-radius: 40px;
}

/* .card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
} */

.card-content {
  padding: 15px;
}

.destination-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.location,
.price-rating {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.location i,
.price-rating i {
  margin-right: 5px;
}

.rating {
  background: #2196f3;
  color: white;
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.price-rating {
  justify-content: space-between;
  margin-top: 10px;
}

.price {
  font-weight: bold;
}
.bi-geo-alt-fill {
  color: #009df4;
}
/* end card  */

/* Start of Tour Section */
.tourContainer {
  width: 100%;
  height: 100vh;
  /* background-image: url(/image/Tour.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 47%; */
}
.tourWords {
  padding-top: 80px;
  text-align: center;
}
.titleTour {
  font-family: Inknut Antiqua;
  font-weight: 500;
  font-size: 64px;
  color: #103346;
  margin-bottom: 0%;
}
.tourSearchWord {
  font-family: Inknut Antiqua;
  font-weight: 400;
  font-size: 34px;
  color: #505e6b;
  margin-bottom: 0%;
}
.bottons {
  background-color: white;
  /* color: #103346; */
  width: 50%;
  margin: 3% auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  min-width: 600px;
}
.bottons button {
  color: #103346;
  width: 15%;
  border-radius: 20px;
}
.btn-outline-primary:hover {
  background-color: #009df4;
}
.dropListItems {
  padding: 10px;
  font-size: 24px;
  font-weight: 400;
  font-family: Inknut Antiqua;
  text-decoration: underline;
}

/* .dropdown-menu {
  margin: 16px 0px;
} */
.whereLi {
  margin: 16px 0px;
}
/* End of Tour Section */

/* start of Patment Info Section  */

.paymentContainer {
  width: 100%;
  height: 547px;
  background-color: #e3f5ff;
  padding: 2% 6% 2% 6%;
}
.PI {
  font-size: 40px;
  font-weight: 500;
  font-family: Inknut Antiqua;
  padding: 80px 0px 40px 10%;
  line-height: 100%;
  letter-spacing: 1%;
  vertical-align: middle;
  margin: 0;
  color: #103346;
}

.PaymentData {
  padding: 0px 10% 0px 10%;
}
.word {
  font-size: 30px;
  font-weight: 500;
  font-family: Inknut Antiqua;
  color: #000000;
}
.Price {
  text-align: center;
  float: right;
  font-size: 30px;
  font-weight: 500;
  font-family: Inknut Antiqua;
}
.btn-pay {
  width: 40%;
  height: 50px;
  background-color: #009df4;
  border-radius: 30px;
  margin: 67px auto 0 auto;
  display: bloc k;
}
/* End of Patment Info Section  */

/* Start of About Us Section */
.aboutContainer {
  width: 100%;
  height: 778px;
  background-color: #ffffff;
  padding: 4% 10% 0% 10%;
  /* padding-top: 0%;
  padding-bottom: 0%; */

  /* display: flex; */
}
.aboutContent {
  display: flex;
  padding: 0% 10% 0% 10%;
}
.aboutTitle {
  font-size: 40px;
  font-weight: 500;
  font-family: Inknut Antiqua;
  color: #006399;
  display: block;
  margin-left: 10%;
}
.aboutWords {
  width: 692px;
  margin-top: 3%;
  /* max-width: 692px; */
  /* max-height: 570px; */
  /* margin-top: -10%; */
}
.aboutWords p {
  /* padding: 10%; */
  font-family: Inria Sans;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 2%;
  max-height: 500px;
  overflow: overlay;
  text-overflow: ellipsis;
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
}
.aboutImg img {
  width: 336px;
  height: 528px;
  border-radius: 20px;
}
.aboutImg {
  margin-left: 20%;
}
/* End of About Us Section */
/* Start of Footer Section */
footer {
  display: flex;
  background-color: #103346;
  color: #ffffff;
  height: 225px;
  justify-content: space-around;
  padding: 2%;
}
.contactUs {
  width: 251px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 80%;
  font-family: Inter;
}

.follow {
  text-align: center;
}
.follow p {
  line-height: 80%;
}

.follow i {
  font-size: 31px;
  padding: 10px;
}
/* End of Footer Section */
